<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">Listado de Productos</span>
                <button class="btn btn-secondary float-end" routerLink="/crear-producto">NUEVO PRODUCTO</button>
                <table class="table table-hover mt-2">
                    <thead>
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Categoria</th>
                            <th scope="col">Ubicacion</th>
                            <th scope="col">Precio</th>
                          
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        <tr>
                            <th> Coca Cola</th>
                            <th> Bebida</th>
                            <th> Surco</th>
                            <th> 2</th>
                            <th>
                                <i class="fas fa-solid fa-pen-to-square"></i>
                                <i class="fas fa-solid fa-trash"></i>
                            </th>
                        </tr>
                        <tr>
                            <th> Pepsi</th>
                            <th> Bebida</th>
                            <th> Surco</th>
                            <th> 3</th>
                            <th>
                                <i class="fas fa-solid fa-pen-to-square"></i>
                                <i class="fas fa-solid fa-trash"></i>
                            </th>
                        </tr>
                        <tr>
                            <th> Inca Kola</th>
                            <th> Bebida</th>
                            <th> Surco</th>
                            <th> 4</th>
                            <th colspan="2">
                                <i class="fas fa-solid fa-pen-to-square"></i>
                                <i class="fas fa-solid fa-trash"></i>
                            </th>
                        </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>

    </div>

</div>
